# Variables de entorno de ejemplo
# Copiar este archivo a .env y completar los valores reales

APP_ENV=development
APP_DEBUG=true
COG_SERVICE_ENDPOINT="https://<spacename>.cognitiveservices.azure.com/"
COG_SERVICE_KEY="keyfromazurecognitiveservices"
